
 
.install-card{
padding: 30px;
}

.install-logo{ max-height: 70px;width: auto; }
.install-card form p{
 margin-top: -.3rem;
display: block;
line-height: 1.5;
}



.install-card h1{
font-weight: bold;
font-size: 1.6rem;
}

#medidor-contrasena{
  min-height: 20px;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  border-radius: 3px;

}

#medidor-contrasena.debil{
 background: #FAD7DD;
 color: #932338;
}
#medidor-contrasena.media{
  background: #FBD2BC;
  color: #FB935A;
}
#medidor-contrasena.fuerte{
  background: #CCF6E4;
  color: #279B6A;

}
#mostrar-ocultar-contrasena{
  cursor: pointer;
}





 