main {
  margin-top: 60px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
 

 

/*.navbar .getstarted,
.navbar .getstarted:focus {
  background: #2487ce;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3194db;
}

 */
 
 
 
/* Mobile Navigation */
.navbar-mobile {
  position: fixed;
  top:-45px;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: 0px;
  width: 100%;
    background: none;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}

.navbar-mobile * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-mobile-active {
  overflow: hidden;
}

.navbar-mobile-active .navbar-mobile {
  left: 0;
  top:60px;
  visibility: visible;
  opacity: 1;
}
 

 .mobile-nav-toggle {
position: fixed;
right: 15px;
top: 20px;
z-index: 9998;
border: 0;
background: none;
font-size: 1.2rem;
transition: all 0.4s;
outline: none !important;
line-height: 1;
cursor: pointer;
text-align: right;
color: var(--texto);
}
.mobile-nav-toggle.gicon-cerrar {
 color: var(--texto);
}
.navbar-mobile > ul {
  display: block!important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 10px 15px;
     background: #fff;
-webkit-backdrop-filter: saturate(180%) blur(20px);
 backdrop-filter: saturate(180%) blur(20px);
  overflow-y: auto;
  transition: 0.3s;
 
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
   font-size: 1rem;
  color: var(--texto);
  border-bottom: 1px solid var(--back-light);;
  display: block;
   font-weight: 600;
  white-space: nowrap;
  transition: 0.3s;
}

 
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color:var(--primario);
  text-decoration: none;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}


.navbar-mobile .dropdown-menu { 
  min-width: 240px;
  padding-bottom: 0;
  background: none;
  color: var(--texto);
  border-radius: 0px;
  border: none;
  box-shadow: none;
   position:relative!important;
  transform: translate3d(0px,0px, 0px)!important;

}
.navbar-mobile .dropdown-menu-arrow::before {
display: none;
}
 

.navbar-mobile .dropdown-toggle::after {
 display: none;
}
 

.navbar-mobile .dropdown-divider{
 display: none;
}


.navbar-mobile .dropdown ul {

  padding:   0;
 padding-left: 20px;
   margin: 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: none;
 
height: fit-content;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  background: none;
}
 
.navbar-mobile .dropdown a.active{
   color: var(--primario);
}

 

.navbar-mobile .dropdown > a:after {
  content: "\e90a";
  font-family: gicon;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
 
.navbar-mobile .dropdown > a.active:after {
  content: "\e90e";
} 


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--footer);
  padding: 0 0 15px 0;
  color: var(--footer-text);
  font-size: .9rem;
}
 
#footer .footer-top {
  border-bottom: 1px solid var(--footer-line);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: red;
  font-weight: 600;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1e4356;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #68A4C4;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 18px;
  font-weight: 600;
  color: #a2cce3;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #a2cce3;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #a2cce3;
}

 


#footer .copyright {
  text-align: center;
  padding-top: 15px;
}


#footer .credits {
  text-align: center;
  font-size: .85rem;
  color: var(--footer-text);
}
#footer .credits a {
  color: var(--footer-link);
  transition: 0.3s;
}
#footer .credits a:hover {
  color: var(--footer-link);
  text-decoration: underline;
}